nav {
  background-color: #111;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
  background-color: #2c5364;
  border-radius: 5px;
  transform: scale(1.1); /* Zoom effect on hover */
}
