/* Base Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(55, 77, 3, 0.67);
  color: #dcdcdc;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Navbar Styles */
nav {
  background-color: #111;
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style: none;
  padding: 0.625em; /* 10px */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

nav ul li {
  margin: 0 0.625em; /* 10px */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 0.625em; /* 10px */
  transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
  background-color: #2c5364;
  border-radius: 0.3125em; /* 5px */
  transform: scale(1.1);
}

/* Section Styles */
section {
  padding: 8vh 8vw; /* 50px padding adjusted */
  margin: 8vh 8vw; 
  height: auto; 
  background-color: #292a3a;
  border-radius: 1.25em; /* 20px */
  box-shadow: 0 0.25em 0.625em rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Heading Styles */
h2 {
  border-bottom: 0.12em solid #4ca1af; /* 5px */
  margin-top: auto;
  color: #ffffff;
  font-size: 3.5rem; /* 40px */
  text-align: center;
  animation: fade-in 5s ease;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 1.25em; /* 20px */
  background-color: #0f2027;
  color: #dcdcdc;
}

/* Animations */
@keyframes blink-animation {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* List Styles */
ul {
  padding: 0;
  margin-left: 10rem;
  margin-right: 10rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul li {
  background-color: #a90707;
  color: #fff;
  padding: 0.625em 1.25em; /* 10px 20px */
  margin: 1.875em; /* 30px */
  border-radius: 0.625em; /* 10px */
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.3);
  font-weight: 500;
  transition: transform 0.3s;
}

ul li:hover {
  transform: scale(1.1);
}

/* Image Styles */
.header-img {
  display: block;
  width: 10rem; /* 250px */
  height: 10rem; /* 250px */
  padding: 0.3125em; /* 5px */
  border-radius: 0.625em; /* 10px */
  box-shadow: 0 0.25em 0.625em rgba(0, 0, 0, 0.5);
  background-color: transparent;
  position: absolute;
  right: 35rem; /* 20px */
  top: 33%;
  transform: translateY(-50%);
  margin-right: 25rem;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  nav ul li {
    margin: 0.3125em; /* 5px */
  }
  h2 {
    font-size: 2rem; /* Adjusted for smaller screens */
  }
  header img.header-img {
    width: 5.25rem; /* 100px */
    height: 5.25rem; /* 100px */
    margin-left: 5rem;
  }
  section {
    padding: 4vh 4vw; /* Adjusted for smaller screens */
  }
}

@media (max-width: 768px) {
  header {
    padding: 1.87em; /* 15px */
    margin: auto;
  }

  header h1 {
    font-size: 2.5rem; /* Adjusted for smaller screens */
  }

  header img.header-img {
    width: 4.25rem; /* 100px */
    height: 4.25rem; /* 100px */
    margin-left: 5rem;
  }

  section {
    padding: 3vh 3vw; /* Reduced padding for smaller screens */
    margin: 3vh 3vw; /* Reduced margin for smaller screens */
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 0.625em 0; /* 10px */
  }

  h2 {
    font-size: 1.5rem; /* Adjusted for smaller screens */
  }

  .about-img {
    width: 6.25rem; /* 100px */
    height: 6.25rem; /* 100px */
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.5rem; /* Adjusted for smaller screens */
  }

  header img.header-img {
    width: 5rem; /* 80px */
    height: 5rem; /* 80px */
  }

  h2 {
    font-size: 1.2rem; /* Adjusted for smaller screens */
  }

  ul li {
    padding: 0.5em 1em; /* Adjusted padding */
    margin: 0.3125em; /* 5px */
  }
}

/* Section Specific Styles */
#about p {
  margin: auto;
}

#naam h1 {
  font-size: 3rem; /* Adjusted for smaller screens */
  margin-left: 12rem; /* Reduced margin for better responsiveness */
}

#naam p {
  font-size: 1.5rem;
  margin-left: 10rem; /* Adjusted for smaller screens */
}
#naam li{
  margin-left: 20rem;
}

#experience,
#hobbies {
  padding: 1.25em; /* 20px */
}

#experience ul,
#hobbies ul {
  list-style-type: none;
  padding: 0;
}

#experience li,
#hobbies li {
  margin-bottom: 1em; /* 15px */
}

#experience p,
#hobbies p {
  font-size: 1rem; /* 16px */
  color: #dcdcdc;
}

/* Certifications Section Styles */
#certifications ul {
  list-style-type: none;
  padding: 0;
}

#certifications li {
  margin-bottom: 1em; /* 15px */
  font-size: 1rem; /* 16px */
  color: #dcdcdc;
}

#certifications a {
  color: #4ca1af;
  text-decoration: none;
  font-weight: 500;
  margin-left: 0.625em; /* 10px */
}

#certifications a:hover {
  text-decoration: underline;
  color: #ffffff; /* Optional: Change color on hover */
}

#certifications a::before {
  content: '[';
}

#certifications a::after {
  content: ']';
}

/* Optional: Adjust margins and padding for better layout */
#certifications ul div {
  margin-left: 1.25rem; /* Adjusted for responsiveness */
}

/* Project Styles */
#khud p {
  padding-left: 3rem; /* Adjusted for better responsiveness */
}

.project {
  margin-bottom: 1.25em; /* 20px */
  text-align: center;
}

.project a {
  color: #4ca1af;
  text-decoration: none;
  font-weight: 500;
}

.project a:hover {
  text-decoration: underline;
}

/* Contact Me Section Link Styles */
#contact a {
  color: rgba(117, 246, 5, 0.67);
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}
