/* Base Styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(55, 77, 3, 0.67);
  color: #dcdcdc;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Navbar Styles */
nav {
  background-color: #111;
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style: none;
  padding: 0.625em; /* 10px */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

nav ul li {
  margin: 0 0.625em; /* 10px */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 0.625em; /* 10px */
  transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
  background-color: #2c5364;
  border-radius: 0.3125em; /* 5px */
  transform: scale(1.1);
}

/* Header Styles */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem; /* 32px */
}

header h1 {
  font-size: 3rem; /* 48px */
  margin-right: 1.5rem; /* 24px */
}

.header-img {
  width: 12rem; /* 192px */
  height: auto;
  border-radius: 0.625em; /* 10px */
  box-shadow: 0 0.25em 0.625em rgba(0, 0, 0, 0.5);
}

/* Responsive Styles */
@media (max-width: 1200px) {
  header h1 {
    font-size: 2.5rem; /* Adjusted for smaller screens */
  }

  .header-img {
    width: 10rem; /* 160px */
  }
}

@media (max-width: 768px) {
  header {
    padding: 1.25rem; /* 20px */
    flex-direction: column;
    text-align: center;
  }

  header h1 {
    font-size: 2rem; /* Adjusted for smaller screens */
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .header-img {
    width: 8rem; /* 128px */
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.5rem; /* Adjusted for smaller screens */
  }

  .header-img {
    width: 6rem; /* 96px */
  }
}

/* Section Styles */
section {
  padding: 8vh 8vw;
  margin: 8vh 8vw;
  height: auto;
  background-color: #292a3a;
  border-radius: 1.25em; /* 20px */
  box-shadow: 0 0.25em 0.625em rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Heading Styles */
h2 {
  border-bottom: 0.12em solid #4ca1af; /* 5px */
  margin-top: auto;
  color: #ffffff;
  font-size: 3.5rem; /* 40px */
  text-align: center;
  animation: fade-in 5s ease;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 1.25em; /* 20px */
  background-color: #0f2027;
  color: #dcdcdc;
}

/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* List Styles */
ul {
  padding: 0;
  margin-left: 10rem;
  margin-right: 10rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul li {
  background-color: #a90707;
  color: #fff;
  padding: 0.625em 1.25em; /* 10px 20px */
  margin: 1.875em; /* 30px */
  border-radius: 0.625em; /* 10px */
  box-shadow: 0 0.25em 0.375em rgba(0, 0, 0, 0.3);
  font-weight: 500;
  transition: transform 0.3s;
}

ul li:hover {
  transform: scale(1.1);
}

/* Contact Me Section Link Styles */
#contact a {
  color: rgba(117, 246, 5, 0.67);
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}
